/*!
 * bd808's etherpad css hacks
 * © 2018 Bryan Davis and contributors
 * License: http://opensource.org/licenses/MIT
 */
.super-light-editor #outerdocbody iframe,
.super-light-editor #outerdocbody > #innerdocbody {
  max-width: 100% !important;
  padding: 1em;
  line-height: 1em;
  font-size: 14px;
}
