/*!
 * bd808's phabricator css hacks
 * © 2016 Bryan Davis and contributors
 * License: http://opensource.org/licenses/MIT
 */

/* squish timeline vertically */
.phui-timeline-spacer {
  display:none;
}

/* squish boards horizontally */
.phui-workboard-view .aphront-multi-column-fixed .aphront-multi-column-column-outer,
.phui-workboard-view .aphront-multi-column-fixed .phui-workpanel-body,
.aphront-multi-column-fixed .phui-workpanel-view,
.phui-workpanel-view .phui-header-shell {
  width:200px !important;
}

.mmr {
  margin-right:3px !important;
}

/* squish breadcrumbs horizontally */
.phui-crumb-divider {
    margin:2px 4px !important;
}

/* tiny tags on cards */
.phui-workcard .phabricator-handle-tag-list .phui-tag-shade-slim .phui-tag.core {
  font-size:8px !important;
}
.phui-workcard .phabricator-handle-tag-list .phabricator-handle-tag-list-item {
  line-height:normal !important;
  margin:0 2px 0 0 !important;
  overflow-x:hidden !important;
  width:32px !important;
}
.phui-workcard .phabricator-handle-tag-list .phabricator-handle-tag-list-item:hover {
  width:auto;
}

/* less padding for cards */
.phui-object-item-with-1-actions .phui-object-item-content-box {
  margin:0 !important;
}
.phui-workcard.phui-object-item {
  margin-bottom:2px !important;
}
.phui-workpanel-view .phui-workpanel-body-content {
  padding:0 2px !important;
}
.phui-workpanel-view .phui-workpanel-body {
  padding:0 !important;
}
.phui-workpanel-view .phui-header-shell {
  padding:4px !important;
}

/* kill per-column scroll */
.device-desktop .phui-workboard-view-shadow {
  overflow:auto !important;
}
.device-desktop .phui-workpanel-body-content {
  max-height:none !important;
  overflow:visible !important;
}
.device-desktop .phui-header-shell {
  overflow:visible !important;
}

/* kill custom workboard colors */
.phui-workboard-gradient-red,
.phui-workboard-gradient-orange,
.phui-workboard-gradient-yellow,
.phui-workboard-gradient-green,
.phui-workboard-gradient-blue,
.phui-workboard-gradient-bluegrey,
.phui-workboard-gradient-indigo,
.phui-workboard-gradient-violet,
.phui-workboard-gradient-sky,
.phui-workboard-gradient-pink,
.phui-workboard-gradient-grey,
.phui-workboard-red,
.phui-workboard-orange,
.phui-workboard-yellow,
.phui-workboard-green,
.phui-workboard-blue,
.phui-workboard-indigo,
.phui-workboard-violet,
.phui-workboard-sky,
.phui-workboard-pink,
.phui-workboard-fire,
.phui-workboard-grey {
    background-color:transparent !important;
    background-image:none !important;
}
.phui-workboard-color .phabricator-nav-content .phui-workboard-view-shadow {
    background-color:#fff;
}
.phui-workboard-color .phui-crumbs-border {
    border-bottom:1px solid rgba(55, 55, 55, 0.1) !important;
}
.phui-workboard-color .phui-crumbs-view,
.phui-workboard-color .phui-crumbs-view a,
.phui-workboard-color .phui-crumbs-view .phui-icon-view {
    background-color:#f1f1f4;
    color:#464c5c;
}
.phui-workboard-color .phui-crumbs-view a:hover,
.phui-workboard-color .phui-crumbs-view a:hover .phui-icon-view {
    color: #2980b9;
}
.phui-workboard-color .phuix-dropdown-menu {
    background-color:#fff;
}
.phui-workboard-color .phui-workpanel-view .phui-box-grey {
    background-color:#f7f7f9;
}
body.phui-workboard-color .phui-profile-menu .phabricator-side-menu {
    background-color:#062842;
}
body.phui-workboard-color .phabricator-side-menu .phui-profile-menu-footer-1 {
    background-color:#062842;
}
.phui-workboard-color .phui-profile-menu .phabricator-side-menu {
    box-shadow:-2px 0 2px rgba(0, 0, 0, 0.15) inset;
}

/* Task sidebar (see https://phabricator.wikimedia.org/T133825#2248704) */
.device-desktop .phui-two-column-view .phui-main-column {
    width:auto;
    float:none;
}
.device-desktop .phui-two-column-view .phui-side-column {
    margin-left:20px;
}
.phui-object-box,
.phui-timeline-shell {
    /* https://developer.mozilla.org/en-US/docs/Web/Guide/CSS/Block_formatting_context */
    overflow:hidden;
}
/* moar squishing! */
.device-desktop .phui-curtain-panel {
    padding:.5em 0;
}
.device-desktop .phui-curtain-panel .phui-curtain-panel-header,
.device-desktop .phui-curtain-panel .phui-curtain-panel-body {
    padding:0;
}
.phui-side-column .phui-two-column-properties .phabricator-action-list-view {
    background:#fff;
    float:right;
    margin-left:4px;
    padding:0;
}
.phui-side-column .phui-two-column-properties .phabricator-action-list-view .phabricator-action-view {
    font-size:smaller;
    max-width:22ch;
    overflow:hidden;
    white-space:nowrap;
}
.phui-side-column .phui-two-column-properties .phabricator-action-view button.phabricator-action-view-item,
.phui-side-column .phui-two-column-properties .phabricator-action-view-item {
    padding:2px 2px 2px 16px;
}
.phui-two-column-properties .phabricator-action-view-icon {
    left:0px;
    top:4px;
}
.device-desktop .phui-two-column-view .phui-two-column-header .phui-header-shell {
    padding:10px;
}
.device-desktop .phui-two-column-view .phui-two-column-header {
    margin-bottom:.5em;
    padding-right:320px;
}
.device-desktop .phui-two-column-view .phui-two-column-content {
    padding:0 10px;
}
.device-desktop .phui-two-column-view .phui-side-column {
    margin-left:0;
}
.phui-two-column-view .phui-two-column-content .phui-object-box {
    margin:0 0 .5em;
}
.phui-two-column-view .phui-main-column .phui-object-box + .phui-timeline-view {
    margin:0;
}
.phui-box.phui-object-box.phui-box-blue-property .phui-header-shell {
    padding:0 1em;
}
.phui-curtain-panel-body .phabricator-handle-tag-list-item {
    font-size:smaller;
    line-height:inherit;
}
.phui-curtain-panel-body .phabricator-handle-tag-list-item .phui-tag-core {
    display:inline-block;
    max-width:22ch;
    overflow:hidden;
    padding:0;
    white-space:nowrap;
}
.phui-side-column .phabricator-action-view-submenu .caret-right {
    float:none;
    margin:0;
}
.phui-side-column .phabricator-action-view-submenu .caret {
    float:none;
    margin:5px 0 0;
}
.phui-object-box .phui-box.phui-feed-story {
    word-break:break-all;
}

/* custom ui */
.phabricator-notification-header .phabricator-notification-unread {
  color:#18559D;
  float:right;
  font-weight:normal;
}

.bd808-active-hash .phui-timeline-content {
    border-width:.5em;
    border-color:red;
}

/***********************************************************************
 * Reduce Gerritbot comments.
 * <https://userstyles.world/style/13140/wikimedia-phabricator-reduce-gerritbot-comments>
 * @author https://userstyles.world/user/MatmaRex
 * @license MIT
 */
/* Turn Gerritbot's avatar into timeline icon */
.phui-timeline-major-event a.phui-timeline-image[href="/p/gerritbot/"] {
    background-position: center;
    left: 5px;
    width: 26px;
    height: 26px;
    background-color: #f3f5f7;
    top: 50%;
    margin-top: -13px;
}

/* Hide the title "gerritbot added a comment" */
.phui-timeline-major-event a.phui-timeline-image[href="/p/gerritbot/"] ~ .phui-timeline-wedge {
    display: none;
}

.phui-timeline-major-event a.phui-timeline-image[href="/p/gerritbot/"] ~ .phui-timeline-group .phui-timeline-menu {
    top: 2px;
    display: none;
}

.phui-timeline-major-event a.phui-timeline-image[href="/p/gerritbot/"] ~ .phui-timeline-group .phui-timeline-title {
    height: 0;
    min-height: 0;
    padding: 0;
    margin: 0;

    visibility: hidden;
    overflow: visible;
    z-index: 1;
}

/* Reposition the timestamp */
.phui-timeline-major-event a.phui-timeline-image[href="/p/gerritbot/"] ~ .phui-timeline-group .phui-timeline-title .phui-timeline-extra {
    float: right;
    visibility: visible;
    padding-right: 8px;
    margin-top: -4px;
    margin-bottom: -2px;
    padding-left: 8px;
}

/* Hide box background and border, and match the timeline drawing */
.phui-timeline-major-event a.phui-timeline-image[href="/p/gerritbot/"] ~ .phui-timeline-group .phui-timeline-inner-content {
    background: #f3f5f7;
    color: #4B4D51;
    border: 0;
    margin: -1px;
    padding: 0;
    padding-left: 38px;

    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQImWO4euPhfwAIogOOtIE7lQAAAABJRU5ErkJggg==);
    background-repeat: repeat-y;
    background-position: 18px;
}

.device .phui-timeline-major-event a.phui-timeline-image[href="/p/gerritbot/"] {
    display: block;
    left: 3px;
}
.device .phui-timeline-major-event a.phui-timeline-image[href="/p/gerritbot/"] ~ .phui-timeline-group .phui-timeline-inner-content {
    background-position: 16px;
}

.phui-timeline-major-event a.phui-timeline-image[href="/p/gerritbot/"] ~ .phui-timeline-group .phui-timeline-core-content {
    background: #f3f5f7;
    margin: 0;
    padding: 0;
    border: 0;
    width: max-content;
    max-width: 100%;
    overflow: visible;
}

.phui-timeline-major-event a.phui-timeline-image[href="/p/gerritbot/"] ~ .phui-timeline-group .phui-timeline-core-content p {
    margin: 0;
}

/* Hide the visible link, instead make the whole item into a clickable link */
/* (This has an annoying side-effect - since the link now covers the text, you
 * can't select the text with the mouse any more. I couldn't find a workaround
 * for that.)
 */
.phui-timeline-major-event a.phui-timeline-image[href="/p/gerritbot/"] ~ .phui-timeline-group .phui-timeline-core-content .transaction-comment {
    display: block;
    margin-top: -4px;
    position: relative;
}

.phui-timeline-major-event a.phui-timeline-image[href="/p/gerritbot/"] ~ .phui-timeline-group .phui-timeline-core-content .transaction-comment:hover {
    color: #136CB2;
    cursor: pointer;
    text-decoration: underline;
}

.phui-timeline-major-event a.phui-timeline-image[href="/p/gerritbot/"] ~ .phui-timeline-group .remarkup-link {
    color: transparent;
    user-select: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.phui-timeline-major-event a.phui-timeline-image[href="/p/gerritbot/"] ~ .phui-timeline-group .phui-timeline-menu {
    border-left: 0;
}

/* Change timeline icon (formerly avatar) colors */
/* Presumably new patch */
.phui-timeline-major-event a.phui-timeline-image[href="/p/gerritbot/"] ~ .phui-timeline-group .phui-timeline-core-content .transaction-comment p:first-child:before {
    pointer-events: none;
    content: '';
    display: block;
    width: 30px;
    height: 36px;
    position: absolute;
    left: -36px;
    top: 50%;
    margin-top: -18px;
    backdrop-filter: saturate(150%) hue-rotate(80deg); /* blue, and make all icons brighter */
}
/* A <strong> tag indicates a merge comment */
.phui-timeline-major-event a.phui-timeline-image[href="/p/gerritbot/"] ~ .phui-timeline-group .phui-timeline-core-content .transaction-comment strong:before {
    pointer-events: none;
    content: '';
    display: block;
    width: 30px;
    height: 36px;
    position: absolute;
    left: -36px;
    top: 50%;
    margin-top: -18px;
    backdrop-filter: hue-rotate(-80deg); /* restore green */
}
/* 2x .remarkup-literal indicates an abandon comment */
.phui-timeline-major-event a.phui-timeline-image[href="/p/gerritbot/"] ~ .phui-timeline-group .phui-timeline-core-content .transaction-comment .remarkup-literal ~ .remarkup-literal:before {
    pointer-events: none;
    content: '';
    display: block;
    width: 30px;
    height: 36px;
    position: absolute;
    left: -36px;
    top: 50%;
    margin-top: -18px;
    backdrop-filter: hue-rotate(200deg); /* red */
}

/* Hide #Patch-for-review added */
.phui-timeline-minor-event a.phui-timeline-image[href="/p/gerritbot/"],
.phui-timeline-minor-event a.phui-timeline-image[href="/p/gerritbot/"] ~ .phui-timeline-wedge {
    display: none;
}

.phui-timeline-minor-event a.phui-timeline-image[href="/p/gerritbot/"] ~ .phui-timeline-group {
    height: 0;
    visibility: hidden;
    pointer-events: none;
    margin-top: -16px;
}
/**********************************************************************/

/***********************************************************************
 * Do most of the gerritbot hacks for CodeReviewBot too.
 */
/* Turn CodeReviewBot's avatar into timeline icon */
.phui-timeline-major-event a.phui-timeline-image[href="/p/CodeReviewBot/"] {
    background-position: center;
    left: 5px;
    width: 26px;
    height: 26px;
    background-color: #f3f5f7;
    top: 50%;
    margin-top: -13px;
}

/* Hide the title "CodeReviewBot added a comment" */
.phui-timeline-major-event a.phui-timeline-image[href="/p/CodeReviewBot/"] ~ .phui-timeline-wedge {
    display: none;
}

.phui-timeline-major-event a.phui-timeline-image[href="/p/CodeReviewBot/"] ~ .phui-timeline-group .phui-timeline-menu {
    top: 2px;
    display: none;
}

.phui-timeline-major-event a.phui-timeline-image[href="/p/CodeReviewBot/"] ~ .phui-timeline-group .phui-timeline-title {
    height: 0;
    min-height: 0;
    padding: 0;
    margin: 0;

    visibility: hidden;
    overflow: visible;
    z-index: 1;
}

/* Reposition the timestamp */
.phui-timeline-major-event a.phui-timeline-image[href="/p/CodeReviewBot/"] ~ .phui-timeline-group .phui-timeline-title .phui-timeline-extra {
    float: right;
    visibility: visible;
    padding-right: 8px;
    margin-top: -4px;
    margin-bottom: -2px;
    padding-left: 8px;
}

/* Hide box background and border, and match the timeline drawing */
.phui-timeline-major-event a.phui-timeline-image[href="/p/CodeReviewBot/"] ~ .phui-timeline-group .phui-timeline-inner-content {
    background: #f3f5f7;
    color: #4B4D51;
    border: 0;
    margin: -1px;
    padding: 0;
    padding-left: 38px;

    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQImWO4euPhfwAIogOOtIE7lQAAAABJRU5ErkJggg==);
    background-repeat: repeat-y;
    background-position: 18px;
}

.device .phui-timeline-major-event a.phui-timeline-image[href="/p/CodeReviewBot/"] {
    display: block;
    left: 3px;
}
.device .phui-timeline-major-event a.phui-timeline-image[href="/p/CodeReviewBot/"] ~ .phui-timeline-group .phui-timeline-inner-content {
    background-position: 16px;
}

.phui-timeline-major-event a.phui-timeline-image[href="/p/CodeReviewBot/"] ~ .phui-timeline-group .phui-timeline-core-content {
    background: #f3f5f7;
    margin: 0;
    padding: 0;
    border: 0;
    width: max-content;
    max-width: 100%;
    overflow: visible;
}

.phui-timeline-major-event a.phui-timeline-image[href="/p/CodeReviewBot/"] ~ .phui-timeline-group .phui-timeline-core-content p {
    margin: 0;
}

/* Hide #Patch-for-review added */
.phui-timeline-minor-event a.phui-timeline-image[href="/p/CodeReviewBot/"],
.phui-timeline-minor-event a.phui-timeline-image[href="/p/CodeReviewBot/"] ~ .phui-timeline-wedge {
    display: none;
}

.phui-timeline-minor-event a.phui-timeline-image[href="/p/CodeReviewBot/"] ~ .phui-timeline-group {
    height: 0;
    visibility: hidden;
    pointer-events: none;
    margin-top: -16px;
}

/***********************************************************************
 * Do most of the gerritbot hacks for Stashbot too.
 */
/* Turn Stashbot's avatar into timeline icon */
.phui-timeline-major-event a.phui-timeline-image[href="/p/Stashbot/"] {
    background-position: center;
    left: 5px;
    width: 26px;
    height: 26px;
    background-color: #f3f5f7;
    top: 50%;
    margin-top: -13px;
}

/* Hide the title "Stashbot added a comment" */
.phui-timeline-major-event a.phui-timeline-image[href="/p/Stashbot/"] ~ .phui-timeline-wedge {
    display: none;
}

.phui-timeline-major-event a.phui-timeline-image[href="/p/Stashbot/"] ~ .phui-timeline-group .phui-timeline-menu {
    top: 2px;
    display: none;
}

.phui-timeline-major-event a.phui-timeline-image[href="/p/Stashbot/"] ~ .phui-timeline-group .phui-timeline-title {
    height: 0;
    min-height: 0;
    padding: 0;
    margin: 0;

    visibility: hidden;
    overflow: visible;
    z-index: 1;
}

/* Reposition the timestamp */
.phui-timeline-major-event a.phui-timeline-image[href="/p/Stashbot/"] ~ .phui-timeline-group .phui-timeline-title .phui-timeline-extra {
    float: right;
    visibility: visible;
    padding-right: 8px;
    margin-top: -4px;
    margin-bottom: -2px;
    padding-left: 8px;
}

/* Hide box background and border, and match the timeline drawing */
.phui-timeline-major-event a.phui-timeline-image[href="/p/Stashbot/"] ~ .phui-timeline-group .phui-timeline-inner-content {
    background: #f3f5f7;
    color: #4B4D51;
    border: 0;
    margin: -1px;
    padding: 0;
    padding-left: 38px;

    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQImWO4euPhfwAIogOOtIE7lQAAAABJRU5ErkJggg==);
    background-repeat: repeat-y;
    background-position: 18px;
}

.device .phui-timeline-major-event a.phui-timeline-image[href="/p/Stashbot/"] {
    display: block;
    left: 3px;
}
.device .phui-timeline-major-event a.phui-timeline-image[href="/p/Stashbot/"] ~ .phui-timeline-group .phui-timeline-inner-content {
    background-position: 16px;
}

.phui-timeline-major-event a.phui-timeline-image[href="/p/Stashbot/"] ~ .phui-timeline-group .phui-timeline-core-content {
    background: #f3f5f7;
    margin: 0;
    padding: 0;
    border: 0;
    width: max-content;
    max-width: 100%;
    overflow: visible;
}

.phui-timeline-major-event a.phui-timeline-image[href="/p/Stashbot/"] ~ .phui-timeline-group .phui-timeline-core-content p {
    margin: 0;
}

/* Hide #Patch-for-review added */
.phui-timeline-minor-event a.phui-timeline-image[href="/p/Stashbot/"],
.phui-timeline-minor-event a.phui-timeline-image[href="/p/Stashbot/"] ~ .phui-timeline-wedge {
    display: none;
}

.phui-timeline-minor-event a.phui-timeline-image[href="/p/Stashbot/"] ~ .phui-timeline-group {
    height: 0;
    visibility: hidden;
    pointer-events: none;
    margin-top: -16px;
}
