/*!
 * bd808's phabricator css hacks
 * © 2016 Bryan Davis and contributors
 * License: http://opensource.org/licenses/MIT
 */

/* squish timeline vertically */
.phui-timeline-spacer {
  display:none;
}
.phui-timeline-shell {
  margin-bottom:.5em;
}

/* squish boards horizontally */
.phui-workboard-view .aphront-multi-column-fixed .aphront-multi-column-column-outer,
.phui-workboard-view .aphront-multi-column-fixed .phui-workpanel-body,
.aphront-multi-column-fixed .phui-workpanel-view,
.phui-workpanel-view .phui-header-shell {
  width:200px !important;
}

.mmr {
  margin-right:3px !important;
}

/* tiny tags on cards */
.phui-workcard .phabricator-handle-tag-list .phui-tag-shade-slim .phui-tag.core {
  font-size:8px !important;
}
.phui-workcard .phabricator-handle-tag-list .phabricator-handle-tag-list-item {
  line-height:normal !important;
  margin:0 2px 0 0 !important;
  overflow-x:hidden !important;
  width:32px !important;
}
.phui-workcard .phabricator-handle-tag-list .phabricator-handle-tag-list-item:hover {
  width:auto;
}

/* less padding for cards */
.phui-object-item-with-1-actions .phui-object-item-content-box {
  margin:0 !important;
}
.phui-workcard.phui-object-item {
  margin-bottom:2px !important;
}
.phui-workpanel-view .phui-workpanel-body-content {
  padding:0 2px !important;
}
.phui-workpanel-view .phui-workpanel-body {
  padding:0 !important;
}
.phui-workpanel-view .phui-header-shell {
  padding:4px !important;
}

/* kill per-column scroll */
.device-desktop .phui-workboard-view-shadow {
  overflow:auto !important;
}
.device-desktop .phui-workpanel-body-content {
  max-height:none !important;
  overflow:visible !important;
}
.device-desktop .phui-header-shell {
  overflow:visible !important;
}

/* kill custom workboard colors */
.phui-workboard-gradient-red,
.phui-workboard-gradient-orange,
.phui-workboard-gradient-yellow,
.phui-workboard-gradient-green,
.phui-workboard-gradient-blue,
.phui-workboard-gradient-bluegrey,
.phui-workboard-gradient-indigo,
.phui-workboard-gradient-violet,
.phui-workboard-gradient-sky,
.phui-workboard-gradient-pink,
.phui-workboard-gradient-grey,
.phui-workboard-red,
.phui-workboard-orange,
.phui-workboard-yellow,
.phui-workboard-green,
.phui-workboard-blue,
.phui-workboard-indigo,
.phui-workboard-violet,
.phui-workboard-sky,
.phui-workboard-pink,
.phui-workboard-fire,
.phui-workboard-grey {
    background-color:transparent !important;
    background-image:none !important;
}
.phui-workboard-color .phabricator-nav-content .phui-workboard-view-shadow {
    background-color:#fff;
}
.phui-workboard-color .phui-crumbs-border {
    border-bottom:1px solid rgba(55, 55, 55, 0.1) !important;
}
.phui-workboard-color .phui-crumbs-view,
.phui-workboard-color .phui-crumbs-view a,
.phui-workboard-color .phui-crumbs-view .phui-icon-view {
    background-color:#f1f1f4;
    color:#464c5c;
}
.phui-workboard-color .phui-crumbs-view a:hover,
.phui-workboard-color .phui-crumbs-view a:hover .phui-icon-view {
    color: #2980b9;
}
.phui-workboard-color .phuix-dropdown-menu {
    background-color:#fff;
}
.phui-workboard-color .phui-workpanel-view .phui-box-grey {
    background-color:#f7f7f9;
}
body.phui-workboard-color .phui-profile-menu .phabricator-side-menu {
    background-color:#062842;
}
body.phui-workboard-color .phabricator-side-menu .phui-profile-menu-footer-1 {
    background-color:#062842;
}
.phui-workboard-color .phui-profile-menu .phabricator-side-menu {
    box-shadow:-2px 0 2px rgba(0, 0, 0, 0.15) inset;
}

/* Task sidebar (see https://phabricator.wikimedia.org/T133825#2248704) */
.device-desktop .phui-two-column-view .phui-main-column {
    width:auto;
    float:none;
}
.device-desktop .phui-two-column-view .phui-side-column {
    margin-left:20px;
}
.phui-object-box,
.phui-timeline-shell {
    /* https://developer.mozilla.org/en-US/docs/Web/Guide/CSS/Block_formatting_context */
    overflow:hidden;
}
/* moar squishing! */
.device-desktop .phui-curtain-panel {
    padding:.5em 0;
}
.device-desktop .phui-curtain-panel .phui-curtain-panel-header,
.device-desktop .phui-curtain-panel .phui-curtain-panel-body {
    padding:0;
}
.phui-side-column .phui-two-column-properties .phabricator-action-list-view {
    background:#fff;
    float:right;
    margin-left:4px;
    padding:0;
}
.phabricator-action-list-view .phabricator-action-view {
    font-size:smaller;
    max-width:20ch;
    overflow:hidden;
    white-space:nowrap;
}
.phabricator-action-view button.phabricator-action-view-item,
.phabricator-action-view-item {
    padding:2px 2px 2px 28px;
}

.phui-two-column-view .phui-two-column-header {
    margin-bottom:.5em;
}
.phui-two-column-view .phui-two-column-content .phui-object-box {
    margin:0 0 .5em;
}
.phui-two-column-view .phui-main-column .phui-object-box + .phui-timeline-view {
    margin:0;
}
.phui-box.phui-object-box.phui-box-blue-property .phui-header-shell {
    padding:0 1em;
}

/* custom ui */
.phabricator-notification-header .phabricator-notification-unread {
  color:#18559D;
  float:right;
  font-weight:normal;
}
