/*!
 * bd808's phabricator css hacks
 * © 2014 Bryan Davis and contributors
 * License: http://opensource.org/licenses/MIT
 */

/* hide minor events */
.phui-timeline-spacer {
  display:none;
}
.phui-timeline-minor-event {
  display:none;
}
.phui-timeline-shell {
  margin-bottom:.5em;
}

/* squish boards horizontally */
.phui-workboard-view .aphront-multi-column-fixed .aphront-multi-column-column-outer {
  width:220px !important;
}
.phui-workboard-view .aphront-multi-column-fixed .phui-workpanel-body {
  width:220px !important;
}
