/*!
 * bd808's WMF gerrit css hacks
 * © 2016 Bryan Davis and contributors
 * License: http://opensource.org/licenses/MIT
 */

/* hide the Wikimedia logo and shift menu to the left */
body #gerrit_topmenu {
  position:inherit;
}
body div#gerrit_header {
  display:none !important; /* fighting with crappy custom css */
}
body .searchPanel .searchTextBox {
  width:25ch;
}
/* squish the dashboard table horizontally */
body .changeTable {
  table-layout:fixed;
  width:100%;
}
body .changeTable td {
  padding:0;
  width:100%;
}
body .changeTable td:nth-child(1) /*current row*/ {
  width:15px;
}
body .changeTable td:nth-child(2) /*starred*/ {
  width:20px;
}
body .changeTable td:nth-child(5) /*status*/,
body .changeTable td:nth-child(10) /*size*/{
  display:none;
}
body .changeTable td:nth-child(6) /*owner*/,
body .changeTable td:nth-child(7) /*project*/,
body .changeTable td:nth-child(8) /*branch*/,
body .changeTable td:nth-child(9) /*updated*/,
body .changeTable td:nth-child(11) /*CR*/
{
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  width:15ch;
}
body .changeTable td:nth-child(12) /*V*/ {
  width:20px;
}
body .changeTable .cOWNER,
body .changeTable .cStatus,
body .changeTable .cLastUpdate,
body .changeTable .cAPPROVAL {
  white-space:normal;
}
body .changeTable .cAPPROVAL .gwt-InlineLabel {
  display:none;
}
body .changeTable .cAPPROVAL {
  width:1px;
}
/*review screen*/
/* header */
div.com-google-gerrit-client-change-ChangeScreen_BinderImpl_GenCss_style-headerLine {
  height:auto;
  margin:0;
  padding:0;
  position:inherit;
}
div.com-google-gerrit-client-change-ChangeScreen_BinderImpl_GenCss_style-headerLine > div {
  display:inline-block;
  padding:0;
  position:inherit;
  width:auto;
}
/*DEBUGGING!
.com-google-gerrit-client-change-ChangeScreen_BinderImpl_GenCss_style-infoTable > tbody > tr > td {
  border: 1px solid red;
}
*/
td.com-google-gerrit-client-change-ChangeScreen_BinderImpl_GenCss_style-commitColumn,
td.com-google-gerrit-client-change-ChangeScreen_BinderImpl_GenCss_style-infoColumn,
td.com-google-gerrit-client-change-ChangeScreen_BinderImpl_GenCss_style-relatedColumn {
  display:inline-block;
  float:left;
  width:auto;
  vertical-align:top;
}
/* commit info */
td.com-google-gerrit-client-change-ChangeScreen_BinderImpl_GenCss_style-commitColumn {
  width:75ch;
}
td.com-google-gerrit-client-change-ChangeScreen_BinderImpl_GenCss_style-commitColumn .com-google-gerrit-client-change-CommitBox_BinderImpl_GenCss_style-scroll {
  width:auto;
}
.com-google-gerrit-client-change-ChangeScreen_BinderImpl_GenCss_style-commitColumn .com-google-gerrit-client-change-CommitBox_BinderImpl_GenCss_style-collapsed div.com-google-gerrit-client-change-CommitBox_BinderImpl_GenCss_style-scroll {
  height:auto;
}
.com-google-gerrit-client-change-ChangeScreen_BinderImpl_GenCss_style-commitColumn .com-google-gerrit-client-change-CommitBox_BinderImpl_GenCss_style-more {
  display:none;
}
.com-google-gerrit-client-change-ChangeScreen_BinderImpl_GenCss_style-commitColumn .com-google-gerrit-client-change-CommitBox_BinderImpl_GenCss_style-header {
  width:auto;
}
/*patch info*/
td.com-google-gerrit-client-change-ChangeScreen_BinderImpl_GenCss_style-infoColumn {
  width:auto !important;
}
table#change_infoTable {
  width:auto;
}
/*related*/
td.com-google-gerrit-client-change-ChangeScreen_BinderImpl_GenCss_style-relatedColumn div {
  height:auto !important; /*yuck! inline styles to fight with*/
}
/*popups*/
div.popupContent {
  border:1px solid #ccc;
  border-top:none;
}
/* vim:sw=2:ts=2:sts=2:et: */
