/*!
 * bd808's WMF gerrit css hacks
 * © 2016 Bryan Davis and contributors
 * License: http://opensource.org/licenses/MIT
 */

/* hide the Wikimedia logo and shift menu to the left */
body #gerrit_topmenu {
  position:inherit;
}
body div#gerrit_header {
  display:none !important; /* fighting with crappy custom css */
}
body .searchPanel .searchTextBox {
  width:25ch;
}
/* squish the dashboard table horizontally */
div#gerrit_body.gerritBody > div > div > div.screen > div > table.changeTable {
  table-layout:fixed;
  width:100%;
}
div#gerrit_body.gerritBody > div > div > div.screen > div > table.changeTable td {
  padding:0;
  width:100%;
}
div#gerrit_body.gerritBody > div > div > div.screen > div > table.changeTable td:nth-child(1) /*current row*/ {
  width:15px;
}
div#gerrit_body.gerritBody > div > div > div.screen > div > table.changeTable td:nth-child(2) /*starred*/ {
  width:20px;
}
div#gerrit_body.gerritBody > div > div > div.screen > div > table.changeTable td:nth-child(5) /*status*/,
div#gerrit_body.gerritBody > div > div > div.screen > div > table.changeTable td:nth-child(10) /*size*/{
  display:none;
}
div#gerrit_body.gerritBody > div > div > div.screen > div > table.changeTable td:nth-child(6) /*owner*/,
div#gerrit_body.gerritBody > div > div > div.screen > div > table.changeTable td:nth-child(7) /*project*/,
div#gerrit_body.gerritBody > div > div > div.screen > div > table.changeTable td:nth-child(8) /*branch*/,
div#gerrit_body.gerritBody > div > div > div.screen > div > table.changeTable td:nth-child(9) /*updated*/,
div#gerrit_body.gerritBody > div > div > div.screen > div > table.changeTable td:nth-child(11) /*CR*/
{
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  width:15ch;
}
div#gerrit_body.gerritBody > div > div > div.screen > div > table.changeTable td:nth-child(12) /*V*/ {
  width:20px;
}
div#gerrit_body.gerritBody > div > div > div.screen > div > table.changeTable .cOWNER,
div#gerrit_body.gerritBody > div > div > div.screen > div > table.changeTable .cStatus,
div#gerrit_body.gerritBody > div > div > div.screen > div > table.changeTable .cLastUpdate,
div#gerrit_body.gerritBody > div > div > div.screen > div > table.changeTable .cAPPROVAL {
  white-space:normal;
}
div#gerrit_body.gerritBody > div > div > div.screen > div > table.changeTable .cAPPROVAL .gwt-InlineLabel {
  display:none;
}
div#gerrit_body.gerritBody > div > div > div.screen > div > table.changeTable .cAPPROVAL {
  width:1px;
}
/*review screen*/
/* header */
div.com-google-gerrit-client-change-ChangeScreen_BinderImpl_GenCss_style-headerLine {
  height:auto;
  margin:0;
  padding:0;
  position:inherit;
}
div.com-google-gerrit-client-change-ChangeScreen_BinderImpl_GenCss_style-headerLine > div {
  display:inline-block;
  padding:0;
  position:inherit;
  width:auto;
}
/*DEBUGGING!
.com-google-gerrit-client-change-ChangeScreen_BinderImpl_GenCss_style-infoTable > tbody > tr > td {
  border: 1px solid red;
}
*/
table.com-google-gerrit-client-change-ChangeScreen_BinderImpl_GenCss_style-infoTable {
  width:100%;
}
td.com-google-gerrit-client-change-ChangeScreen_BinderImpl_GenCss_style-commitColumn,
td.com-google-gerrit-client-change-ChangeScreen_BinderImpl_GenCss_style-infoColumn,
td.com-google-gerrit-client-change-ChangeScreen_BinderImpl_GenCss_style-relatedColumn {
  clear:right;
  display:inline-block;
  float:right;
  padding:0;
  vertical-align:top;
  width:45%;
}
/* commit info */
td.com-google-gerrit-client-change-ChangeScreen_BinderImpl_GenCss_style-commitColumn {
  clear:left;
  float:left;
  padding:0;
  width:55%;
}
td.com-google-gerrit-client-change-ChangeScreen_BinderImpl_GenCss_style-commitColumn .com-google-gerrit-client-change-CommitBox_BinderImpl_GenCss_style-scroll {
  width:auto;
  min-height:20ch;
}
.com-google-gerrit-client-change-ChangeScreen_BinderImpl_GenCss_style-commitColumn .com-google-gerrit-client-change-CommitBox_BinderImpl_GenCss_style-collapsed div.com-google-gerrit-client-change-CommitBox_BinderImpl_GenCss_style-scroll {
  height:auto;
}
.com-google-gerrit-client-change-ChangeScreen_BinderImpl_GenCss_style-commitColumn .com-google-gerrit-client-change-CommitBox_BinderImpl_GenCss_style-more {
  display:none;
}
.com-google-gerrit-client-change-ChangeScreen_BinderImpl_GenCss_style-commitColumn .com-google-gerrit-client-change-CommitBox_BinderImpl_GenCss_style-header {
  width:auto;
}
/*patch info*/
td.com-google-gerrit-client-change-ChangeScreen_BinderImpl_GenCss_style-infoColumn {
  float:right;
  padding:0;
  width:45% !important;
}
table#change_infoTable {
  margin:0;
}
/*related*/
td.com-google-gerrit-client-change-ChangeScreen_BinderImpl_GenCss_style-relatedColumn div {
  max-height:20ch !important;
}
/*popups*/
div.popupContent {
  border:1px solid #ccc;
  border-top:none;
}
.com-google-gerrit-client-change-ChangeScreen_BinderImpl_GenCss_style-sectionHeader {
  clear:both;
}
/*Files*/
.changeTable.com-google-gerrit-client-change-FileTable-FileTableCss-table {
  width:100%;
}
/*History*/
div.com-google-gerrit-client-change-Message_BinderImpl_GenCss_style-messageBox {
  width:100%;
}
div.com-google-gerrit-client-change-Message_BinderImpl_GenCss_style-summary {
  width:75%;
}
div.com-google-gerrit-client-change-Message_BinderImpl_GenCss_style-contents,
div.com-google-gerrit-client-change-CommitBox_BinderImpl_GenCss_style-text {
  font-family:"Source Code Pro", monospace;
  font-size:12px;
}
div.com-google-gerrit-client-change-Message_BinderImpl_GenCss_style-header {
  font-family:sans-serif;
}

/* vim:sw=2:ts=2:sts=2:et: */
